.numbers li {
  color: var(--color-white);
}

.numbers li:hover {
  background: var(--color-medium-grey);
  color: var(--color-white);
}
.numbers li.active {
  background: var(--color-orange);
  color: var(--color-white);
}
